#name_surname {
  background-color: red;
  color: blue;
}
#mail{
  background-color: red;
}
#password {
  background-color: red;
}
#check {
  background-color: blue;
}
/* !Falta Todavia */