body {
  margin: 0;
  font-family: sans-serif;
  color: #eee;
  background-color: #222;
}

h2 {
  text-align: center;
  margin:  0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 22px;
  padding: 10p;
}
form {
  background-color: transparent;
  padding: 20px 0;
  max-width: 500px;
  box-shadow: 0px 0px 45px #fff2 ;
  margin-top: 50px;
}
.form_input {
  padding: 10px 20px;
}

input, textarea { 
  min-width: 100%; /* Explicacion: min-width sirve para que el elemento no se haga más pequeño que el tamaño mínimo especificado. */
  box-sizing: border-box;  /* Explicacion: Sirve para que el padding y el border se incluyan en el ancho y alto total del elemento. */
  border: none; /* Explicacion: Sirve para quitar el borde del elemento. */
  border-left: 3px solid #666; /* Explicacion: Sirve para cambiar el color del borde izquierdo. */
  box-shadow: 0px 0px 15px #0001; /* Explicacion: Sirve para agregar una sombra al elemento. */
  background-color: transparent; /* Explicacion: Cambia el color de fondo */
  border-radius: 4px; /* Explicacion: Sirve para redondear las esquinas del elemento. */
  color: #eee; /* Explicacion: Cambia el color del texto */
  /* resize: both; Explicacion: Permite cambiar el tamaño del textarea */
}


textarea{
  min-width: none; /* Explicacion: Sirve para que el elemento no se haga más pequeño que el tamaño mínimo especificado. */
  min-height: 100px; /* Explicacion: Sirve para que el elemento no se haga más pequeño que el tamaño mínimo especificado. */
  max-height: 300px; /* Explicacion: Sirve para que el elemento no se haga más grande que el tamaño máximo especificado. */
  resize: vertical; /* Explicacion: Permite cambiar el tamaño del textarea solo en la dirección vertical. */
}

label {
font-size: 0.9em;
line-height: 2;
}