body{
  background-color: black;
  color: #ffffff;
}
h2{
  color: blueviolet;
}
.soccer {
  background-color: blue;
  text-align: center;
  width: 400px;
  margin: auto;
}
#h2razones {
  text-align: center;
}
.reason{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:0cqh;
  text-align: left;
}

