text-align: justify;
  font-family: 'Courier New', Courier, monospace;
  font-variant: inherit;@font-face {
  font-family: 'Wasa';  /* Nombre de la fuente(le podemos dar cualquiera */
  src: url(static/FiraCode-Regular.ttf) format("truetype"); /* Ruta de la fuente */
  /** Personalizacion*/
  font-size:500 ;
}